streamlit
transformers
langchain
langchain_community
python-dotenv
gTTS
torch==1.12.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.13.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
torchaudio==0.12.0+cpu -f https://download.pytorch.org/whl/torch_stable.html

